@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: sassasaanone;
}sasa
zasas
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
